.form1
{
    background-color : #DCDCDC;
    padding : 20px;
}

.form2
{
    background-color : #21e097;
    padding : 20px;
}

.form3
{
    background-color : #9400D3;
    padding : 20px;
}

.form4
{
    background-color : red;
    padding : 20px;
}
