
{% block content%}
<h1>webformsut </h1><small>git commit: {{ version }}</small><br />
<hr />

{% if form1 %}
<form method="POST" action="">
    {% csrf_token %}
    {% autoescape off %}
    {{ form1 }}
    {% endautoescape %}
</form> 
{% endif %}

{% if form2 %}
<form method="POST" action="">
    {% csrf_token %}
    {% autoescape off %}
    {{ form2 }}
    {% endautoescape %}
</form> 
{% endif %}

{% if form3 %}
<form method="POST" action="">
    {% csrf_token %}
    {% autoescape off %}
    {{ form3 }}
    {% endautoescape %}
</form> 
{% endif%}

{% if form4 %}
<form method="POST" action="">
    {% csrf_token %}
    {% autoescape off %}
    {{ form4 }}
    {% endautoescape %}
</form> 
{% endif%}

{% if rawpost %}
<ul>
{% for key,value in rawpost.items %}
<li>
    {{ key }} = {{ value }}
</li>
{% endfor %}
</ul>
{% endif%}

{% endblock content%}